* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-list__container {
  height: 80%;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  min-height: 400px;
  max-height: 700px;
}

.shopping-list__input {
  background-color: #0fb9b1;
  height: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 25px 25px 0px 0px;
}

.shopping-list__input input {
  background-color: #2bcbba;
  color: white;
  height: 100%;
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 25px;
  /* caret-color: transparent; */
}

.shopping-list__input input:focus {
  opacity: 0.9;
}

.shopping-list__input input::placeholder {
  color: white;
  opacity: 0.7;
}

.shopping-list__input button {
  background-color: white;
  color: #2bcbba;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  height: 70%;
  width: 10%;
  font-size: 32px;
  cursor: pointer;
}

.shopping-list__list {
  height: 90%;
  padding: 10px;
  border-radius: 0px 0px 25px 25px;
  background-color: #d7d8d7;
  overflow-y: auto;
}

.shopping-list__row {
  display: flex;
  justify-content: space-between;
  align-items: top;
  background-color: white;
  margin: 10px 0px;
  padding: 5px;
  border-radius: 10px;
}

.shopping-list__row:hover {
  background-color: #778ca3;
  color: white;
}

.shopping-list__row:first-child {
  margin-top: 0px;
}

i.check-btn,
i.remove-btn {
  cursor: pointer;
}

.text--checked {
  text-decoration: line-through;
}

.text--no-checked {
  text-decoration: none;
}

.btn--checked {
  color: #26de81;
}

.btn--no-checked {
  color: inherit;
}
