.detail {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 5px;
  margin-top: 100px;
}

.detail__data {
  padding: 20px;
}

.detail__title {
  font-size: 30px;
}

.detail__column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detail__year {
  padding-right: 10px;
}
.detail__genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.detail__genres li {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.detail__summary {
  width: 450px;
}
