section {
  margin: 20px;
}

.theme {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.recommendation__book {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.recommendation__book__image img {
  border: 1px solid white;
  border-radius: 10px;
  width: 140px;
}

.recommendation__book__info {
  width: 50%;
}

.recommendation__book__info > * {
  margin: 10px 0px;
}

.recommendation__book__info__title {
  font-size: 20px;
  font-weight: 700;
}

.recommendation__book__info__author {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.1;
}

.recommendation__book__info__category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.recommendation__book__info__category a{
  padding: 6px 10px;
  background-color: rgba(247, 247, 247);
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.719);
  transition: box-shadow 0.1s ease-in-out;
}

.recommendation__book__info__category a:hover {
  background-color: rgb(238, 236, 236);
}

.recommendation__book__info__category a:active {
  background-color: rgb(238, 236, 236);
  box-shadow: none;
}

.recommendation__book__info_function {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 30px 0px;
}

.recommendation__book__info_function__bookmark {
  padding: 10px;
  border-radius: 50%;
  background-color:  rgba(255, 206, 51, 1.0);
}

.recommendation__book__info_function__now {
  padding: 10px 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.adventures__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.adventures__list__item {
  margin: 0px 20px 15px 0px;
}
.adventures__list__item__image img {
  height: 120px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.719);
}

.authors__author {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.authors__author__image img {
  border: 1px solid white;
  border-radius: 10px;
  height: 150px;
  width: 140px;
}

.authors__author__info {
  width: 50%;
}

.authors__author__info__name {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px 15px 0px;
}

.authors__author__info__decription {
  font-size: 13px;
  font-weight: 700;
  opacity: 0.1;
}