@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@keyframes flowText {
  0% {
    transform: translateX(150%);
  }
  15% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(50%);
  }
  45% {
    ransform: translateX(0%);
  }
  60% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(-150%);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  background-color: #efe754;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

article {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 30px 1fr 30px;
  gap: 4px;
  background-color: #fe6f3e;
  padding: 4px;
  margin: 10px;
}

article > * {
  background-color: white;
  color: #fe6f3e;
  font-weight: 600;
}

header {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

header > div,
footer > div {
  white-space: nowrap;
  position: absolute;
  top: 25%;
  left: 0;
  height: 100%;
  animation: flowText 15s linear infinite;
}

.l-navi {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 30px;
  grid-template-rows: 5fr 4fr 1fr;
  gap: 3px;
  background-color: #fe6f3e;
}
.l-navi > * {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.l-navi > div:first-child {
  background-color: #fe6f3e;
  color: white;
}
.l-navi > div:first-child > span {
  padding: 10px;
}
.l-navi > div:first-child > div {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: -5px;
  font-size: 14px;
}
.l-navi > div:nth-child(2) > div {
  white-space: nowrap;
  transform: rotateZ(-90deg);
  transform-origin: center;
}
.l-navi > div:last-child {
  flex-direction: column;
}
.l-navi > div:last-child > span {
  padding: 5px;
}

.content {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content__r-img,
.content__l-img {
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center;
}
.content__r-img {
  background-image: url("https://source.unsplash.com/random/2");
}
.content__l-img {
  background-image: url("https://source.unsplash.com/random/1");
}
.content__logo {
  position: absolute;
  font-size: 10vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__logo > div:first-child {
  font-size: 5vw;
}

.r-navi {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 30px;
  grid-template-rows: 1fr 1fr;
  gap: 3px;
  background-color: #fe6f3e;
}
.r-navi > div {
  background-color: #45ab4f;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: upright;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -3px;
}
.r-navi > div > span {
  padding: 20px;
}

footer {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}
footer > div {
  word-wrap: nowrap;
  text-overflow: clip;
}
