@import "reset";
@import "_variables";

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin-top: $header_height;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
    width: 100%;
    height: $header_height;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;

    nav {
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        font-size: 32px;
        text-transform: lowercase;

        div {
            display: flex;
            justify-content: flex-start;

            &:hover {
                background-color: $gray;
                color: black;
                &.l-nav {
                    ul:hover {
                        color: white;
                    }
                }
            }

            ul {
                height: 100%;
                padding: 0px 10px;
                display: flex;
                align-items: center;

                &:nth-child(2) {
                    width: 100%;
                }

                li {
                    cursor: pointer;
                    margin-right: 50px;
                }
            }
        }
    }
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    article {
        display: grid;
        height: 45vh;
        grid-template-rows: 9fr 1fr;
        img {
            height: 100%;
            width: 100%;
        }
        div {
            font-family: "Courier New", Courier, monospace;
            font-weight: 700;
            line-height: 35px;
            text-transform: uppercase;
            padding: 0px 10px;
        }
    }
}
