@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Yrsa:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
}

a {
    color: #ff6429;
    font-weight: 600;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.4);

    .header__wrapper {
        width: 85%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        .navi {
            justify-self: flex-start;
            ul {
                display: flex;
                justify-content: flex-start;
                font-weight: 500;
                li {
                    &:hover {
                        text-decoration: underline;
                    }
                    &:not(:last-child) {
                        margin-right: 35px;
                    }
                }
            }
        }

        .logo {
            font-size: 32px;
            font-weight: 600;
            font-family: "Yrsa";
            display: flex;
            div {
                transform: rotateZ(-15deg);
            }
        }

        .search {
            justify-self: flex-end;
            cursor: pointer;
        }
    }
}

main {
    .hero {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;

        .hero__img {
            width: 100%;
            height: 100%;
            background-image: url("https://source.unsplash.com/random/800x600");
            background-position: center center;
            background-size: cover;
        }

        .hero__text {
            width: 80%;
            margin: 0 auto;
            font-family: "Yrsa";
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: 56px;
                font-weight: 500;
                line-height: 1.1em;
                text-align: center;
                margin-bottom: 0.7em;
            }

            a {
                &:nth-child(2) {
                    font-weight: 400;
                }
            }
        }
    }

    .banner {
        height: 50vh;
        background-color: #efcb56;
        font-family: "Yrsa";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .banner__title {
            font-size: 56px;
            font-weight: 600;
            margin-bottom: 0.3em;
        }
        .banner__text {
            width: 65%;
            margin: 0 auto;
            font-size: 36px;
            text-align: center;
            margin-bottom: 1.2em;
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 30vh;
    .gallery__item {
        background-image: url("https://source.unsplash.com/random/400x300");
        background-position: center center;
        background-size: cover;
        transition: all 0.2s ease-in-out;
        &:nth-child(1),
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(10) {
            grid-column-start: span 2;
        }
        &:hover {
            filter: blur(30px);
        }
    }
}

footer {
    width: 100%;
    height: 100vh;
    background-color: #535851;
    color: white;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer__wrapper {
        width: 80%;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 500;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .category {
            margin-bottom: 200px;

            li {
                margin-bottom: 1em;
                &:last-child {
                    margin-bottom: 3em;
                }
            }
            .category__title {
                color: #bcbebb;
            }
        }
        .copyright {
            grid-column-start: span 4;
            font-size: 10px;
            .copyright__text {
            }
        }
    }
}
