:root {
  --main-color: #6bbcbe;
  --shapes-color: #ffffff;
  --shapes-border: 1px solid var(--shapes-color);
}

@keyframes cirLoading {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(180deg);
  }
}

@keyframes rectLoading {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(2);
  }
  40% {
    transform: scaleY(1);
  }
}

body {
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

article {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle-sample {
  animation: cirLoading 1s ease-in-out infinite;
}

#rectangle-sample > div {
  animation: 1s rectLoading ease-in-out infinite;
}

#rectangle-sample > div:nth-child(2) {
  animation-delay: 100ms;
}

#rectangle-sample > div:nth-child(3) {
  animation-delay: 200ms;
}

#rectangle-sample > div:nth-child(4) {
  animation-delay: 300ms;
}

#rectangle-sample > div:last-child {
  animation-delay: 400ms;
}

.circle-object {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: var(--shapes-border);
  background-color: var(--shapes-color);
  margin: 0 10px;
}

.rectangle-object {
  width: 5px;
  height: 30px;
  border: var(--shapes-border);
  background-color: var(--shapes-color);
  margin: 0 2px;
}
