@import "_variables";

%main-title {
    font-size: 38px;
    font-weight: 500;
}

%mini-title {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 1.5em;
}

%main-content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1.5em;
}

%mini-content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1.5em;
}

%round-btn {
    padding: 10px 20px;
    margin: 5px 5px 0px 0px;
    border: $border-line;
    border-radius: 20px;
    background-color: white;
    color: black;

    &:focus {
        outline: 0;
    }
    &:hover {
        color: white;
        background-color: black;
    }
}
