@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rosarivo&display=swap");

body {
  background-color: #dde1d4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.outter,
.inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: white;
  font-size: 40px;
  font-weight: 600;
  font-family: "Rosarivo", serif;
  letter-spacing: 2px;
}

.inner {
  font-size: 20px;
}

.outter > div,
.inner > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outter > div:first-child,
.inner > div:first-child,
.inner > div:nth-child(3) {
  color: #f44607;
}

.outter > div:first-child {
  background-color: #dae7de;
}

.outter > div:nth-child(2) {
  background-color: #008a69;
}

.outter > div:nth-child(3) {
  background-color: #f44607;
}

.inner > div:first-child {
  background-color: #f7abc5;
}

.inner > div:nth-child(2) {
  background-color: #5f5fa9;
}

.inner > div:nth-child(3) {
  background-color: #ffc128;
}

.inner > div:last-child {
  background-color: #f97374;
}
