@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
@import "reset";
@import "_variables";
@import "_mixins";
@import "_extends";

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Piazzolla", serif;
}

.header {
    width: 100%;
    height: $main-navi-height;
    position: fixed;
    top: 0;
    background-color: $main-color;
    display: flex;
    align-items: center;
    z-index: 1;

    .main-navi {
        // @extend %miniTitle;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        padding: 0px 70px;
        text-transform: uppercase;

        ul {
            display: flex;
        }
        .main-navi--left {
            justify-self: flex-start;
            li {
                margin-right: 45px;
            }
        }
        .main-navi--right {
            justify-self: flex-end;
            li {
                margin-left: 45px;
            }
        }
        img {
            height: 55px;
        }
    }
}

.intro.card {
    @include cardFormat(#f9dbbe, "full") {
        margin-top: $main-navi-height;
    }
}

.studio.card {
    @include cardFormat(#f3ede8, "normal");
}

.shop {
    padding: $main-padding-normal;
    text-align: center;

    .shop__title {
        @extend %miniTitle;
        text-transform: uppercase;
        margin-bottom: 17px;
    }

    .shop__desc {
        font-size: 34px;
        line-height: 38px;
        text-transform: capitalize;
        font-weight: 200;
        margin-bottom: 32px;
    }

    .shop__products {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        .shop__product {
            width: 33.3%;
            .product__link {
                .product__img {
                    width: 100%;
                }
                .product__category {
                    @extend %miniTitle;
                }
                .product__name {
                    opacity: 0.8;
                    font-size: 28px;
                    font-weight: 200;
                    line-height: 38px;
                    margin-bottom: 15px;
                    em {
                        font-style: italic;
                    }
                }
                .product__price {
                    @extend %miniTitle;
                    opacity: 0.6;
                }
            }
            .product__btn {
                @extend %miniTitle;
                border: 1px solid #414141;
                color: #414141;
                background: none;
                text-transform: uppercase;
                height: 55px;
                line-height: 55px;
                width: 240px;
                max-width: 90%;
                min-width: 190px;
                margin-top: 32px;
                margin-bottom: 10px;

                &:hover {
                    color: white;
                    background-color: #414141;
                }
            }
        }
    }
}

.inspiration {
    padding: $main-padding-normal;
    text-align: center;

    .inspiration__title {
        @extend %miniTitle;
        text-transform: uppercase;
        margin-bottom: 17px;
    }
    .inspiration__desc {
        font-size: 34px;
        line-height: 38px;
        text-transform: capitalize;
        font-weight: 200;
        margin-bottom: 70px;
        em {
            font-style: italic;
        }
    }
    .inspiration__examples {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        .inspiration__example {
            width: 12.5%;
            border-right: 1px solid #414141;

            &:last-child {
                border: none;
            }
            .example__link {
                max-width: 100px;
                margin: 0 auto 25px;
                text-decoration: none;
                color: #414141;

                .example__img {
                    width: 75%;
                }
                .example__num {
                }
            }
        }
    }
    .inspiration__btn {
        @extend %miniTitle;
        border: 1px solid #414141;
        color: #414141;
        background: none;
        text-transform: uppercase;
        height: 55px;
        line-height: 55px;
        width: 240px;
        max-width: 90%;
        min-width: 190px;
        margin-top: 32px;
        margin-bottom: 10px;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: #414141;
        }
    }
}

.journals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $main-padding-normal;

    .journal.card {
        @include cardFormat(#f3ede8, "grid");

        &:nth-last-child(2) {
            display: flex;
            .card__img {
                order: 1;
            }
        }
    }
}

.gift.card {
    @include cardFormat(#dee8e9, "normal");
}

.conversation {
    text-align: center;

    .conversation__wrapper {
        padding: $main-padding-normal;

        .conversation__title {
            @extend %miniTitle;
            text-transform: uppercase;
            line-height: 14px;
            margin-bottom: 35px;
        }

        .conversation__desc {
            font-size: 40px;
            line-height: 45px;
            margin-bottom: 55px;
        }

        .conversation__form {
            position: relative;
            input {
                width: calc(100% - 60px);
                border: none;
                border-bottom: 2px solid #414141;
                padding: 20px 60px 20px 0;
                font-size: 40px;
                opacity: 0.6;
                color: #414141;
                line-height: 45px;

                &:focus {
                    outline: none;
                }
            }

            button {
                cursor: pointer;
                height: 45px;
                width: 45px;
                position: absolute;
                right: 4%;
                top: 30%;
                background: none;
            }
        }
    }
}

.instagram.card {
    @include cardFormat(#f9dbbe, "normal");
}

.gallery {
    width: 100%;
    padding: 40px 140px;

    .gallery__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .gallery__list {
            height: 50%;
            .gallery__link {
                &:hover {
                    opacity: 0.4;
                }
                .gallery__img {
                    width: 100%;
                }
            }
        }
    }

    .gallery__follow {
        text-align: center;
        font-size: 36px;
        font-weight: 200;
        line-height: 45px;
        margin-bottom: 15px;
        padding: 100px 0px 60px 0px;
        a {
            text-decoration: none;
            color: #414141;
            opacity: 0.6;
        }
    }
}

.footer {
    background-color: #f3ede8;
    padding: 65px;

    .footer__cols {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .footer__col--center {
            border-left: 1px solid #414141;
            border-right: 1px solid #414141;
        }

        .footer__col {
            @extend %miniTitle;
            width: 33.3%;
            text-transform: uppercase;
            text-align: center;

            .footer__category {
                color: #414141;
                opacity: 0.5;
                margin-bottom: 25px;
            }
            .footer__link {
                a {
                    text-decoration: none;
                    color: #414141;
                }
                line-height: 2.5;
            }
        }
    }
}
