* {
  box-sizing: border-box;
}

body {
  width: 400px;
  border: 5px solid #55bdac;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.playlist--margin {
  margin-top: 30px;
}

.music--margin {
  margin-bottom: 30px;
}

.playlist-header {
  display: flex;
}

.playlist-header__column {
  width: 33%;
  display: flex;
  align-content: center;
}

.playlist-header__column > span {
  margin-left: 30px;
  font-weight: 800;
  font-size: 20px;
}

.current-music {
  display: flex;
}

.current-music__photo {
  border: 3px solid black;
  border-radius: 15px;
  background-color: #ffbd11;
  padding: 45px;
  margin-right: 30px;
}

.current-music__photo > i {
  color: white;
}

.current-music__info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.current-music__info > span:first-child {
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 30px;
}

.current-music__info > span:nth-child(2) {
  font-weight: 700;
  font-size: 18px;
}

.playlist-function {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.playlist-function__play {
  border: 3px solid black;
  border-radius: 15px;
  padding: 20px 60px;
  margin-right: 15px;
  box-shadow: 0px 2px black;
}

.playlist-function__play > span {
  margin-left: 4px;
  font-weight: 800;
  font-size: 18px;
}

.playlist-function__heart {
  border: 3px solid black;
  border-radius: 50%;
  padding: 20px;
  margin-right: 15px;
  box-shadow: 0px 2px black;
}

.playlist-function__plus {
  border: 3px solid black;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0px 2px black;
}

.music {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.music__photo {
  border: 3px solid black;
  border-radius: 15px;
  padding: 30px;
  margin-right: 15px;
}

.music__photo--orange {
  background-color: #f85a2a;
}

.music__photo--pink {
  background-color: #ff89bb;
}
.music__photo--blue {
  background-color: #1947e5;
}

.music__photo--aquamarine {
  background-color: #00c6ad;
}

.music__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.music__info > span:first-child {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 10px;
}

.music__info > span:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
}
