@mixin cardFormat($bg, $mode) {
    @content;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @if $mode == "full" {
        padding: $main-padding-full;
    } @else if $mode == "normal" {
        padding: $main-padding-normal;
    } @else if $mode == "grid" {
        padding: 0px;
    }

    .card__img {
        width: 50%;
    }

    .card__content {
        width: 50%;
        background-color: $bg;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .card__wrapper {
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .card__title {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .card__descript {
                margin: auto;
                opacity: 0.6;
                font-size: 28px;
                line-height: 38px;
                max-width: 440px;
                font-weight: 200px;
                em {
                    font-style: italic;
                }
            }

            .card__link {
                @extend %miniTitle;
                margin-top: 65px;
                padding: 0px 50px;
                max-width: 100%;
                min-width: 240px;
                border: 1px solid #414141;
                color: #414141;
                text-decoration: none;
                text-transform: uppercase;
                line-height: 55px;

                cursor: pointer;
                position: relative;

                &:hover {
                    color: white;
                    background-color: #414141;

                    .card__arrow {
                        background-color: #414141;
                    }
                }

                .card__arrow {
                    position: absolute;
                    top: -1px;
                    right: -55px;
                    width: 55px;
                    border: 1px solid #414141;
                }
            }

            .card__button {
                @extend %miniTitle;
                background: none;
                border: none;
                margin-top: 65px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }
    }
}
